<fieldset>

  <legend><%= Spree.t(:Sermepa) %></legend>

  <table class="index">
    <tr data-hook="Sermepa_header">
      <th><%= Spree.t(:type) %></th>
      <th><%= Spree.t('spree.date') %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:response_code) %></th>
      <th><%= Spree.t(:avs_response) %></th>
    </tr>
        <tr data-hook="SermepaPayment_row">
          <td>
            <%= payment.source_type %>
          </td>
          <td><%= payment.created_at.to_date %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= Spree.t("payment_states.#{payment.state}") %></td>
          <td><%= payment.response_code %></td>
          <td><%= payment.avs_response %></td>
        </tr>
  </table>

</fieldset>